Invoice Workflow.json
{
  "name": "Invoice Workflow",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1DZj4S1j9X_FvOe5nNXCYlOwFqSLV0V_X",
          "mode": "list",
          "cachedResultName": "Invoice Project",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1DZj4S1j9X_FvOe5nNXCYlOwFqSLV0V_X"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "8e317fc3-4a9f-4839-8b7d-cd98c3c28733",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "GOaizIqcjybUrZUy",
          "name": "Muhammadfarhan03333@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "=data",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        440,
        0
      ],
      "id": "08f3130f-d053-465a-8b97-4b3be26fe0f2",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        220,
        0
      ],
      "id": "8b4dd944-7b97-4ca3-aafd-545ca5bfe230",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "GOaizIqcjybUrZUy",
          "name": "Muhammadfarhan03333@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "text": "={{ $json.text }}",
        "attributes": {
          "attributes": [
            {
              "name": "Invoice Number",
              "description": "The Number of Invoices",
              "required": true
            },
            {
              "name": "Client Name ",
              "description": "The name of the client ",
              "required": true
            },
            {
              "name": "Client Email",
              "description": "The email of the client",
              "required": true
            },
            {
              "name": "Client Address",
              "description": "The  adderess of the client",
              "required": true
            },
            {
              "name": "Client Phone",
              "type": "number",
              "description": "The Phone Number of the client",
              "required": true
            },
            {
              "name": "Total Amount  ",
              "description": "Total Amount of the Invoice",
              "required": true
            },
            {
              "name": "Invoice Date ",
              "type": "date",
              "description": "The Invoice Date",
              "required": true
            },
            {
              "name": "Due Date",
              "type": "date",
              "description": "The due date of the invoice",
              "required": true
            }
          ]
        },
        "options": {
          "systemPromptTemplate": "You are an expert extraction algorithm.\nOnly extract relevant information from the text.\nIf you do not know the value of an attribute asked to extract, you may omit the attribute's value."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1.2,
      "position": [
        660,
        0
      ],
      "id": "9864d14e-8fa6-45cf-9dd5-93d816815d45",
      "name": "Information Extractor"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        740,
        220
      ],
      "id": "4b1ac6a2-e4af-4df3-86c4-29b9297d0172",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "7rgsApWwZglbyWOm",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1zI2pK0nchSo_rXhPPHTvkg5wyBEqPFP2f8sByFrpZzo",
          "mode": "list",
          "cachedResultName": "Invoice DB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1zI2pK0nchSo_rXhPPHTvkg5wyBEqPFP2f8sByFrpZzo/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1zI2pK0nchSo_rXhPPHTvkg5wyBEqPFP2f8sByFrpZzo/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Invoice Number": "={{ $json.output['Invoice Number'] }}",
            "Client Name ": "={{ $json.output['Client Name '] }}",
            "Client Email": "={{ $json.output['Client Email'] }}",
            "Client Address": "={{ $json.output['Client Address'] }}",
            "Client Phone": "={{ $json.output['Client Phone'] }}",
            "Total Amount  ": "={{ $json.output['Total Amount  '] }}",
            "Invoice Date ": "={{ $json.output['Invoice Date '] }}",
            "Due Date": "={{ $json.output['Due Date'] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Invoice Number",
              "displayName": "Invoice Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Client Name ",
              "displayName": "Client Name ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Client Email",
              "displayName": "Client Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Client Address",
              "displayName": "Client Address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Client Phone",
              "displayName": "Client Phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Total Amount  ",
              "displayName": "Total Amount  ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Invoice Date ",
              "displayName": "Invoice Date ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Due Date",
              "displayName": "Due Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        1000,
        0
      ],
      "id": "5a86e0da-7e6c-489a-9a7c-099aa13e6b05",
      "name": "Update DB",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "sP8RugNPKPMszJgs",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=Invoice Number: {{ $json['Invoice Number']}}\n\nClient Name: {{ $json['Client Name '] }}\n\nClient Emuil: {{ $json['Client Email'] }}\n\nTotul Amount: {{ $json['Total Amount  '] }}\n\nInvoice Date: {{ $json['Invoice Date '] }}\n\nDue Date: {{ $json['Due Date'] }}"
            },
            {
              "content": "=# Overview\nYou are an email expert for Green Grass Corp named Greenie. You will receive invoice\ninformation. Your job is to notify the internal billing team that an invoice was received/sent.\n\n##output\nOutput the following parameters separately:\nSubject\nEmail",
              "role": "system"
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        1200,
        0
      ],
      "id": "f548cf7f-a836-4e45-80c8-9d471ed1d2bf",
      "name": "Create Email",
      "credentials": {
        "openAiApi": {
          "id": "7rgsApWwZglbyWOm",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "rajafarhanraja075@gmail.com",
        "subject": "={{ $json.message.content.Subject }}",
        "emailType": "text",
        "message": "={{ $json.message.content.Email }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1540,
        0
      ],
      "id": "f7c2115b-cfc2-40c3-8a1e-03053d5a9238",
      "name": "Send a message",
      "webhookId": "9691b4d1-7b0b-4901-a244-990320c84849",
      "credentials": {
        "gmailOAuth2": {
          "id": "YKO185QwXq3ZyIMs",
          "name": "Gmail account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Information Extractor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Information Extractor",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Information Extractor": {
      "main": [
        [
          {
            "node": "Update DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update DB": {
      "main": [
        [
          {
            "node": "Create Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Email": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "0c8a7649-7894-4db5-8c12-77a8fc1d3e09",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f1ab73838507e31bc422aeea14e8cdd1cfde5918dc8e3dc5d971a3f07dcfb5a1"
  },
  "id": "3Hj6DqA8blPuX2hl",
  "tags": []
}